In [5]:
a = int(input())
if a%2 == 0:
    print ('this is divisible')
else:
    print ('this is not divisible')

18
this is divisible

In [3]:
a = int(input())
if a%400 == 0:
    if a%100 == 0:
        if a%4 == 0:
            print ('it is leap year')
else:
    print ('it is not leap year')

2000
it is leap year

In [12]:
a = int(input())
if a%400 == 0:
     print ('it is leap year')
elif (a%4 == 0) and (a%100 != 0):
    print ('it is leap year')
else:
    print ('it is not leap year')

2016
it is leap year

In [18]:
#a = [2,3,4,5, 'parag', 2.5,4.5,5.6]
a=3
if type (a) == list:
    print (a)
else:
    print ('this is not a list')

this is not a list

In [19]:
type (a)

int

In [1]:
range(6)

range(0, 6)

In [2]:
range(0,6)

range(0, 6)

In [3]:
range(0,20,2)

range(0, 20, 2)

In [4]:
l = [3,4,5,6,7]
for i in l:
    print(i)

3
4
5
6
7

In [5]:
l = ('parag')
for i in l:
    print(i)

p
a
r
a
g

In [6]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [5]:
l = [8,9,'parag','p',8.9,8+9j]

In [6]:
l

[8, 9, 'parag', 'p', 8.9, (8+9j)]

In [7]:
for i in l:
    if type(i) == int:
        print (i)

8
9

In [25]:
for i in l:
    #print(i)
    if type(i) == int:
        print (i)

8
9

In [8]:
l = [8,9,'parag','p',8.9,8+9j,[8,9,7,'j']]

In [9]:
l = [1,2,3,4,'parag',8.9,7.7,7.5]

In [10]:
l

[1, 2, 3, 4, 'parag', 8.9, 7.7, 7.5]

In [30]:
for i in l:
    if type(i) == int:
        print (i)

1
2
3
4

In [31]:
for i in l:
    if type(i) == str:
        print (i)

parag

In [32]:
for i in l:
    if type(i) == float:
        print (i)

8.9
7.7
7.5

In [33]:
for i in l:
    if type(i) == int:
        print (i)
    elif type(i) == str:
        print (i)
    elif type(i) == float:
        print(i)

1
2
3
4
parag
8.9
7.7
7.5

In [34]:
for i in range (0,5):
    for j in range (0,i):
        print (" * ", end = " ")
    print('\n')

 *

 *   *

 *   *   *

 *   *   *   *

In [7]:
for i in range (0,5):
    for j in range (0,5):
        print (" * ", end = "  ")
    print('\n')

 *    *    *    *    *

 *    *    *    *    *

 *    *    *    *    *

 *    *    *    *    *

 *    *    *    *    *

In [4]:
for i in range (0,5):
    for j in range (0,5):
        if (i == 0 or i == -1):
            print (" * ", end = "  ")
        elif (j == 0 or j == -1):
            print ("  ", end = " ")
        else:
            print ('', end = ' ')
    print('\n')

 *    *    *    *    *

In [6]:
for raw in range (5):
    for col in range (5):
        if (raw in {0,4}):
            print("*", end = ' ')
        elif (raw in {1,2,3,4}) and (col in {0,4}):
                print ("*", end = ' ')
        else:
                print (' ', end = ' ')
    print ()

* * * * *
*       *
*       *
*       *
* * * * *

In [12]:
for raw in range (5):
    for col in range (5):
        if (raw in {0,4}):
            print("*", end = ' ')
        elif (raw in {1,2,3,4}) and (col in {0,4}):
                print ("*", end = ' ')
        else:
                print ('p', end = ' ')
    print ()

* * * * *
* p p p *
* p p p *
* p p p *
* * * * *

In [8]:
for i in range (0,5):
    for j in range (i+1):
        print (j, end = " ")
    print('\n')

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

In [1]:
a = int(input("enter the value of a: "))
for i in range (0,a):
    for j in range (65, 65+i):
        print(chr(j), end = " ")
    print('\n')

enter the value of a: 5


A

A B

A B C

A B C D

In [13]:
a = int(input("enter the value of a: "))
for i in range (65,70):
    for j in range (65, i+1):
        print(chr(i), end = " ")
    print('\n')

enter the value of a: 5
A

B B

C C C

D D D D

E E E E E

In [1]:
a = int (input("Enter number of rows: "))
for i in range (a,0,-1):
    for j in range (0,i):
        print(" * ", end = " ")
    print('\n')

Enter number of rows: 5
 *   *   *   *   *

 *   *   *   *

 *   *   *

 *   *

 *

In [15]:
a = int (input("Enter number of rows: "))
for i in range (a,0,-1):
    for j in range (65,65+i):
        print(chr(j), end = " ")
    print('\n')

Enter number of rows: 5
A B C D E

A B C D

A B C

A B

A

In [10]:
n = int(input("enter number of rows: "))
k = n-1
for i in range (0,n):
    for j in range(0,k):
        print(end=" ")
    k = k-1
    for j in range (0,i+1):
        print("*", end = " ")
    print ("\n")

enter number of rows: 5
    *

   * *

  * * *

 * * * *

* * * * *

In [5]:
n = int(input("enter number of rows: "))
for i in range(n,1,-1):
    for space in range (0,n-i):
        print(" ", end = " ")
    for j in range (i, 2*i-1):
        print ("*", end = " ")
    for j in range (1, i-1):
        print ("*", end = " ")
    print ()

enter number of rows: 5
* * * * * * *
  * * * * *
    * * *
      *

In [5]:
num = 1
n = 5
for i in range (0,n):
    for j in range (0,i+1):
        print(num, end = " ")
        num = num + 1
    print ("\n")

1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [2]:
a=1
while a<6:
    print(a)
    a=a+1 ## counter

1
2
3
4
5

In [3]:
a=1
while a<=10:
    print (a)
    a=a+1
    if a==8 :
        break
    #a=a+1

1
2
3
4
5
6
7

In [4]:
a = [1,2,3,4]
for i in a:
    pass
    print(i)

1
2
3
4

In [3]:
a = [1,2,3,4]
for i in a:
    if i==4:
        break
    print(i)

1
2
3

In [7]:
a = 8
while a == 6:
    print("okay")
    a = a+1
    break
    print (a)

In [8]:
l = [1,2,3,4,"emailid"]
for i in l:
    if i == 4:
        break
    print(i)
else:
    print ("check this statement")

1
2
3

In [9]:
l = [1,2,3,4,'parag',3.3,3.5,3.6]
for i in l:
    if type(i) == int:
        print(i)

1
2
3
4

In [10]:
l = ['r','a',3,4,"emailid"]
for i in l:
    if type(i) == int:
        break
    print(i)
else:
    print ("check the statement")

r
a

In [11]:
n=5; i=0
while (i<=n):
    print(" " * (n-i) + "*" * i)
    i = i + 1

    *
   **
  ***
 ****
*****

In [13]:
n=5; i=0
while (i<=n):
    print("*" * i + " " * (n-i))
    i = i + 1

*
**
***
****
*****

In [ ]:
a = int(input("enter the number: "))
if a!=

In [1]:
def test():
    pass

In [2]:
def test1():
    print("hello world")

In [3]:
test1()

hello world

In [7]:
def test2(a,b):
    print(a+b)
test2(5,6)

11

In [9]:
def test2(a,b):
    """this is a fuction for addition of two number"""
    print(a+b)
test2(5,6)

11

In [13]:
def test(a,b):
    """this is a function of addition of two number"""
    print(a+b)
def test1(a,b):
    """this is a function of subtraction of two number"""
    print(a-b)
def test2(a,b):
    """this is a function of multiplication of two number"""
    print(a*b)
def test3(a,b):
    """this is a function of division of two number"""
    print(a/b)
    
test(4,5)
test1(5,6)
test2(6,7)
test3(10,2)

9
-1
42
5.0

In [15]:
#block one
bike = True
car = True
travel_100_km = bike and car

print(f"you have bike: {bike}")
print(f"you have car: {car}")
print(f"you can travel 100 kms: {travel_100_km}\n")

#block two
bike = True
car = False
travel_100_km = bike and car

print(f"you have bike: {bike}")
print(f"you have car: {car}")
print(f"you can travel 100 kms: {travel_100_km}\n")

#block three
bike = False
car = True
travel_100_km = bike and car

print(f"you have bike: {bike}")
print(f"you have car: {car}")
print(f"you can travel 100 kms: {travel_100_km}\n")

#block four
bike = False
car = False
travel_100_km = bike and car

print(f"you have bike: {bike}")
print(f"you have car: {car}")
print(f"you can travel 100 kms: {travel_100_km}\n")

you have bike: True
you have car: True
you can travel 100 kms: True

you have bike: True
you have car: False
you can travel 100 kms: False

you have bike: False
you have car: True
you can travel 100 kms: False

you have bike: False
you have car: False
you can travel 100 kms: False

In [18]:
def travel_or_not (bike,car):
    travel_100_km = bike or car
    
    print(f"you have bike: {bike}")
    print(f"you have car: {car}")
    print(f"you can travel 100 kms: {travel_100_km}\n")
    
travel_or_not(False,False)

travel_or_not(False,True)

travel_or_not(True,False)

travel_or_not(True,True)

you have bike: False
you have car: False
you can travel 100 kms: False

you have bike: False
you have car: True
you can travel 100 kms: True

you have bike: True
you have car: False
you can travel 100 kms: True

you have bike: True
you have car: True
you can travel 100 kms: True

In [22]:
def travel_or_not (bike,car):
    travel_100_km = bike or car
    
    print(f"you have bike: {bike}")
    print(f"you have car: {car}")
    print(f"you can travel 100 kms: {travel_100_km}\n")

BIKE = [False,False,True,True]
CAR = [False,True,False,True]

for bike, car in zip(BIKE, CAR):
    travel_or_not(bike,car)

you have bike: False
you have car: False
you can travel 100 kms: False

you have bike: False
you have car: True
you can travel 100 kms: True

you have bike: True
you have car: False
you can travel 100 kms: True

you have bike: True
you have car: True
you can travel 100 kms: True

In [1]:
def test(a,b):
    print(a+b)

In [2]:
test(3,4)

7

In [3]:
def test(a=10,b=10):
    print(a+b)

In [4]:
test()

20

In [6]:
def test(a,b=30):
    print(a+b)
test(30)

60

In [7]:
def test1():
    return 'hello world'

In [8]:
test1()

'hello world'

In [10]:
def test1(a,b):
    return a+b
test1(3,4)

7

In [11]:
def test1(a,b):
    print ('a+b')
test1(3,4)

a+b

In [12]:
def test2(a,b=20,c=40):
    return a+b+c
test2(3)

63

In [13]:
def test2(a,b=20,c=40):
    return a+b+c
test2(3,4,5)

12

In [14]:
def test (*args):
    return args
test([2,3,4,5,8])

([2, 3, 4, 5, 8],)

In [17]:
def test (a,*b):
    return a,b
test(3,4,5,6,[8,9])

(3, (4, 5, 6, [8, 9]))

In [18]:
def test (*a,b=10):
    return a,b
test(3,4,5,6,[8,9])

((3, 4, 5, 6, [8, 9]), 10)

In [20]:
def test(**kwargs):
    return kwargs
test(a=10,b=20,c=30,d=40)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [23]:
def test(a,b,*c,d=10):
    return (a,b,c,d)
test(1,2,3,4,5,[7,8,9])

(1, 2, (3, 4, 5, [7, 8, 9]), 10)

In [31]:
def marks_in_subjects_of_semester(**kwargs):
    def total_marks(marks_list):
        return sum (marks_list)
    
    marks_list = list()
    for subject,marks in kwargs.items():
        marks_list.append(marks)
        print(f"score in {subject} = {marks}")
        
    return total_marks(marks_list)
results = marks_in_subjects_of_semester(Digital_Image_Processing = 78, Microprocessor = 79, Signals_and_systems = 83)
print(f"\ntotal marks obtained {results}")

score in Digital_Image_Processing = 78
score in Microprocessor = 79
score in Signals_and_systems = 83

total marks obtained 240

In [2]:
# Diamond pattern

# Reading number of row
row = int(input('Enter number of row: '))

# Upper part of diamond
for i in range(1, row+1):
    for j in range(1,row-i+1):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

# Lower part of diamond
for i in range(row-1,0, -1):
    for j in range(1,row-i+1):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

Enter number of row: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [3]:
# Hollow Diamond pattern

# Reading number of row
row = int(input('Enter number of row: '))

# Upper part of hollow diamond
for i in range(1, row+1):
    for j in range(1,row-i+1):
        print(" ", end="")
    for j in range(1, 2*i):
        if j==1 or j==2*i-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

# Lower part of hollow diamond
for i in range(row-1,0, -1):
    for j in range(1,row-i+1):
        print(" ", end="")
    for j in range(1, 2*i):
        if j==1 or j==2*i-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

Enter number of row: 7
      *
     * *
    *   *
   *     *
  *       *
 *         *
*           *
 *         *
  *       *
   *     *
    *   *
     * *
      *